* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

.img-full {
  object-fit: cover;
  width: 100%;
  height: 100vh;
}
.img-square {
  img {
    height: 100px;
    width: 100px;
    object-fit: cover;
    border-radius: 10px;
  }
}
a {
  color: inherit;
  text-decoration: none;
  transition: all 0.3s;

  &:hover,
  &:focus {
    color: inherit;
    text-decoration: none;
    transition: all 0.3s;
  }
}

.navbar {
  padding: 15px 10px;
  background: #fff;
  border: none;
  border-radius: 0;
  box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.1);
}

.navbar-btn {
  box-shadow: none;
  outline: none !important;
  border: none;
}

.line {
  width: 100%;
  height: 1px;
  border-bottom: 1px dashed #ddd;
  margin: 40px 0;
}

.table-input {
  padding-left: 8px !important;
  padding-right: 8px !important;
}
/* ---------------------------------------------------
    Calendar
----------------------------------------------------- */
// For the month
.month-indicator {
  color: var(--blue-grey-700);
  text-align: center;
  font-weight: 500;
}

// CSS grid used for the dates
.day-of-week,
.date-grid {
  display: grid;
  grid-template-columns: repeat(7, 1fr);
}
// Note
.note {
  border-radius: 5px;
  width: 50%;
  height: 5px;
  background-color: var(--danger);
  margin: 0 auto;
}

// Styles for the weekday/weekend header
.day-of-week {
  margin-top: 1.25em;
  padding: 8px;
}

.day-of-week > * {
  font-weight: 600;
  letter-spacing: 0.1em;
  font-size: small;
  text-align: center;
}

/* Dates */
.date-grid {
  margin-top: 0.5em;
  place-items: center;
}

/* Positioning the first day */
.date-grid button:first-child {
  grid-column: 4;
}

// Style for each day
.date-grid button {
  position: relative;
  border: 0;
  width: 7ch;
  height: 7ch;
  border-radius: 50%;
  background-color: transparent;
  color: var(--blue-grey-600);
}

.date-grid button:hover {
  outline: none;
  background-color: #f5f5f5;
  color: var(--blue-grey-700);
}

.date-grid button:active,
.date-grid button:focus,
.date-grid button.is-selected {
  background-color: var(--danger);
  color: var(--white);
  .note {
    background-color: white;
  }
}
/* ---------------------------------------------------
    SIDEBAR STYLE
----------------------------------------------------- */

.wrapper {
  display: flex;
  width: 100%;
  align-items: stretch;
}

#sidebar {
  min-width: 250px;
  max-width: 250px;
  background: #dc3545;
  color: #fff;
  transition: all 0.3s;

  &.active {
    margin-left: -250px;
  }

  .sidebar-header {
    padding: 20px;
    background: #dc3545;
    height: 100px;
  }

  .sidebar-body {
    padding: 0;
    .sidebar-item {
      list-style-type: none;
      padding: 20px 20px;
      transition: 0.3s ease-in-out;
      display: block;
      color: #fff;
      &:hover {
        cursor: pointer;
        background-color: #db5461;
      }
    }
    .active {
      background-color: white !important;
      color: #dc3545 !important;
    }
  }
}

/* ---------------------------------------------------
    CONTENT STYLE
----------------------------------------------------- */

#content {
  width: 100%;
  min-height: 100vh;
  transition: all 0.3s;
  align-items: stretch;
  .main-content {
    display: flex;
    .content-left {
      width: 40%;
      flex-flow: wrap;
      height: 100vh;
      background: #f5f5f5;
    }
    .content-right {
      width: 60%;
    }
  }
}

/* ---------------------------------------------------
    MEDIAQUERIES
----------------------------------------------------- */

@media (max-width: 768px) {
  #sidebar {
    margin-left: -250px;

    &.active {
      margin-left: 0;
    }
  }

  #sidebarCollapse span {
    display: none;
  }
  .img-full {
    height: 35vh;
  }

  .main-content {
    display: flex;
    flex-direction: column;
    .content-left {
      width: 100% !important;
      height: 100vh;
      background: #f5f5f5;
    }
    .content-right {
      width: 100% !important;
    }
  }
}
